{% load static %} 

{% block content %}
<aside>
    <p> Menu <a href="#">
        <img src="{% static 'img/logo.jpeg' %}" height="80" alt="Logo Afila Facil" loading="lazy" />
    </a></p>
    <div class="list-group list-group-flush">
        {% if user.is_staff %}
        <a href="#submenu1"  data-bs-toggle="collapse"><i class="fa fa-laptop" aria-hidden="true"></i>
            Ingreso
        </a>
        <div id="submenu1" class="submenu collapse">
            <a href="{% url 'nuevo_proveedor' %}">Nuevo proveedor</a>
            <a href="{% url 'nueva_materia' %}">Nueva materia</a>
            <a href="{% url 'nueva_produccion' %}">Nuevo sub-producto</a>
        </div>
         <a href="{% url 'produccion' %}" data-bs-toggle="collapse"><i class="fa fa-laptop" aria-hidden="true"></i> Producto</a>
        <a href="{% url 'materias_primas' %}" data-bs-toggle="collapse"><i class="fa fa-laptop" aria-hidden="true"></i> Materia Prima</a>
        <a href="{% url 'proveedores' %}" data-bs-toggle="collapse"><i class="fa fa-laptop" aria-hidden="true"></i> Proveedores</a>
        <a href="{% url 'clientes' %}" data-bs-toggle="collapse"><i class="fa fa-laptop" aria-hidden="true"></i> Clientes</a>
        <a href="#" data-bs-toggle="collapse"><i class="fa fa-laptop" aria-hidden="true"></i> Envios</a>
        {% endif %}
    </div>
     
  
  <div class="social">
    <a href="#" target="_blank">
        <i class="fa fa-laptop" aria-hidden="true"></i>  Linkedin
    
    </a>
  </div>

{% endblock %}
