{% extends "materias_primas/layout.html" %}
{% load static %} 

{% block content %}

<div class="container-fluid" id="altura">
    <div class="d-flex flex-column align-items-center" >
   
        <div class="d-flex justify-content-center mt-4 mb-5" style="background-color: #1f262b;">
            <form class="m-3 p-4 bg-body-secondary" method="post" action="{% url 'nueva_venta' %}" enctype="multipart/form-data" >
                {% csrf_token %}
                 <h2 class="custom-title text-center">NUEVA VENTA</h2>
                <div class="form-outline mb-2" >
                    <input type="text" id="detalle" name="detalle" class="form-control" placeholder="Detalles" />
                </div>
                
              
                    <div class="form-outline mb-2">
                        <input type="number" id="cantidad" name="cantidad" class="form-control" placeholder="Cantidad"/>
                    </div>
                    <div class="form-outline mb-2">
                        <input type="number" id="costo" name="costo" class="form-control" placeholder="Costo"/>
                    </div>
                    <div class="form-outline mb-2">
                        <input type="number" id="total" name="total" class="form-control" placeholder="Total"/>
                    </div>
            
                    <div class="form-outline w-100 d-flex flex-column">
                        <label class="form-label fw-bold w-100" for="clientes">Seleccione un Cliente:</label>
                        {{ form.clientes }}
                    </div>

                    <div class="form-outline w-100 d-flex flex-column">
                        <label class="form-label fw-bold w-100" for="produccion">Seleccione un Produccion:</label>
                        {{ form.produccion }}
                    </div>

                {% if request.user.is_superuser %}
                <input type="hidden" name="super" value="True" />
                <input class="boton_enviar btn btn-outline-secondary mt-2" type="submit" value="Confirmar" id="btn_registrar" />
                {% endif %}

            </form>
        </div>
    </div>
</div>

{% endblock %}
