{% extends "materias_primas/layout.html" %}

{% load static %} 

{% block content %}
<div class="container-fluid" id="altura">
  <div class="d-flex flex-column align-items-center" >
 
      <div class="d-flex justify-content-center mt-4 mb-5" style="background-color: #1f262b;">
          <form class="m-3 p-4 bg-body-secondary" method="post" action="{% url 'editar_envasado' %}"  enctype="multipart/form-data" >
              {% csrf_token %}
               <h2 class="custom-title text-center">EDITAR ENVASADO</h2>
              <div class="form-outline mb-2" >
                  <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre" value="#" />
              </div>
                  <div class="form-outline mb-2">
                    <p class="mb-2 fw-bold"> Cantidad actual:</p>
                      <input type="number" id="cantidad" name="cantidad" class="form-control" placeholder="Cantidad" value="#"/>
                  </div>
              {% if request.user.is_superuser %}
              <input type="hidden" name="super" value="True" />
              <input class="boton_enviar btn btn-outline-secondary mt-2" type="submit" value="Confirmar" id="btn_registrar" />
              {% endif %}

          </form>
      </div>
      {% if messages %}
      {% for message in messages %}
          <div class="alert {{ message.tags }} alert-dismissible fade show text-center w-25" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
      {% endfor %}
  {% endif %}
  </div>
</div>

{% endblock %}
