{% extends "materias_primas/layout.html" %}
{% load static %} 

{% block content %}
    <div class="container-fluid">
        <div class="d-flex flex-column align-items-center">
            <h2 class="mb-3 mt-2">Editar Proveedor</h2>
            <div class="d-flex justify-content-center mt-3 mb-5" style="background-color: #c2e7e1;">
                <form class="m-3 p-4 bg-body-secondary" method="post" action="{% url 'editar_proveedor' proveedor.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-outline w-100" >
                            <label class="form-label " for="nombre">Nombre completo:</label>
                            <input type="text" id="nombre" name="nombre" class="form-control" value="{{ proveedor.nombre }}"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-outline w-100">
                            <label class="form-label" for="detalle">Detalle:</label>
                            <textarea id="detalle" name="detalle" class="form-control">{{ produccion.detalle }}</textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-outline w-100">
                            <label class="form-label" for="direccion">Direccion:</label>
                            <input type="text" id="direccion" name="direccion" class="form-control" value="{{ proveedor.direccion }}"/>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="form-outline w-100">
                            <label class="form-label" for="telefono">Telefono: </label>
                            <input type="number" id="telefono" name="telefono" class="form-control" value="{{ proveedor.telefono }}"/>
                        </div>
                    </div>


                    <div class="row">
                        <div class="form-outline w-100">
                            <label class="form-label" for="email">Email:</label>
                            <input type="text" id="email" name="email" class="form-control" value="{{ proveedor.email }}"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-outline">
                            <label class="form-label fw-bold w-100" for="imagen">Seleccione una imagen:</label>
                            <input type="file" id="imagen" name="imagen" class="form-control" value="{{ proveedor.imagen }}"/>
                        </div>
                    </div>
                  
                    {% if request.user.is_superuser %}
                    
                    <div class="row mb-4">
                        <div class="form-outline">
                            <input type="hidden" name="super" value="True" />
                            <input class="boton_enviar btn btn-outline-secondary mt-3" type="submit" value="Confirmar" id="btn_registrar" />
                        </div>
                    </div>

                    {% endif %}

                </form>
            </div>
        </div>
    </div>

{% endblock %}
