body {
  font-family: "Open Sans", sans-serif !important;
  background: #f6f9ff;
  color: #444444;
}

a {
  color: #4154f1 !important;
  text-decoration: none !important;
}

a:hover {
  color: #717ff5 !important;
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}
/* Light Backgrounds */
.bg-primary-light {
  background-color: #cfe2ff !important;
  border-color: #cfe2ff !important;
}

.bg-secondary-light {
  background-color: #e2e3e5 !important;
  border-color: #e2e3e5 !important;
}

.bg-success-light {
  background-color: #d1e7dd !important;
  border-color: #d1e7dd !important;
}

.bg-danger-light {
  background-color: #f8d7da !important;
  border-color: #f8d7da !important;
}

.bg-warning-light {
  background-color: #fff3cd !important;
  border-color: #fff3cd !important;
}

.bg-info-light {
  background-color: #cff4fc !important;
  border-color: #cff4fc !important;
}

.bg-dark-light {
  background-color: #d3d3d4 !important;
  border-color: #d3d3d4 !important;
}

.sidebar {
    transition: all 0.3s;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent !;
    box-shadow: 0px 0px 20px rgba(9, 81, 206, 0.1);
    background-color: #fff;
    height: 100%;
  }
  

  .sidebar a {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #020416;
    transition: 0.3;
    padding: 10px 15px;
    border-radius: 4px;
  }
